@import "tailwindcss";

.filter-orange {
  filter: invert(54%) sepia(95%) saturate(7495%) hue-rotate(2deg) brightness(101%) contrast(104%);
}

/* Swiper Pagination Customization */
.my-custom-swiper-container .swiper-pagination {
  bottom: 10px !important;
  text-align: center !important;
}

.my-custom-swiper-container .swiper-pagination-bullet {
  background-color: #ccc; /* สีเริ่มต้นของจุดที่ไม่ถูกเลือก */
}

.my-custom-swiper-container .swiper-pagination-bullet-active {
  background-color: #f97316; /* สีส้มสำหรับจุดที่ถูกเลือก */
}